.*.sw[op]
.metadata
.yardoc
.yardwarns
*.iml
/.bundle/
/.idea/
/.vagrant/
/dist/
/coverage/
/bin/
/doc/
/docs/
/Gemfile.lock
/junit/
/log/
/log/
/pkg/
/spec/fixtures/manifests/
/spec/fixtures/modules/
!/spec/hieradata/default.yaml
!/spec/fixtures/site.pp
/tmp/
/vendor/
/convert_report.txt

